<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <h1>Edit Campground</h1>
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate class="formValidation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price-label">$</span>
                    </div>
                    <input type="text" class="form-control" id="price" placeholder="0" aria-label="0" 
                        aria-describedby="price-label" name="campground[price]" value="<%= campground.price %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add more image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-warning">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Return</a>
    </div>
</div>

